service firebase.storage {
  match /b/{bucket}/o {
    match /masters {
        match /{userId}/{vId} {
            allow write: if request.auth.uid == userId;
            allow read;
        }
    }
    match /channelAssets {
        match /{channelId}/icon {
            allow write: if request.auth.uid != null; // TODO: Group based security
            allow read;
        }
    }
  }
}
