<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>lMNultIbeOZA1F5jdtmUE357R061Wcj6</string>
	<key>Domain</key>
	<string>swish-auth.us.auth0.com</string>
</dict>
</plist>
